body {
	background-color: #333;
	color: #eee;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	padding: 20px;
	animation: fadein .1s ease-in;

	img.logo {
		width: 3rem;
		margin-top: 1rem;
	}

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}